{% extends 'header.html' %}
{% load static %}

{% block title %}
<title>My book car</title>
{% endblock %}

{% block book-car %}
<li class="nav-item">
    <a class="nav-link active" href="{% url 'book-car' %}">
        <i class='fas fa-car' style='font-size:18px'></i>
        <span class="nav-link-text">book car</span>
    </a>
</li>
{% endblock %}
{% block content %}
<div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Tables</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="#">Tables</a></li>
                <li class="breadcrumb-item active" aria-current="page">Tables</li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-6 col-5 text-right">
            <a href="#" class="btn btn-sm btn-neutral">New</a>
            <a href="#" class="btn btn-sm btn-neutral">Filters</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
           
            <form action="{% url 'book-car' %}" method="POST">
            {% csrf_token %}
            <div class="row">             
              <div class="col-6"        
              </div>
            </form>
          </div>
          <!-- Light table -->
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="sort" data-sort="name">Car Name</th>
                  <th scope="col" class="sort" data-sort="budget">amount</th>
                  <th scope="col" class="sort" data-sort="status">Passenger Name</th>
                  <th scope="col" class="sort" data-sort="status">journy Date</th>
                  <th scope="col" class="sort" data-sort="status">View in Detail</th>
                  <th scope="col" class="sort" data-sort="status">Complete journy</th>


                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody class="list">
                {% for Book in Book %}
                {% if Book.Car.uid.email == request.session.email %}
                {% if Book.journy_status == False %}
               

                <tr>
                  <th scope="row">
                    <div class="media align-items-center">
                      <a href="#" class="avatar rounded-circle mr-3">
                        <img alt="Image placeholder" src="{{Book.Car.pic.url}}">
                      </a>
                      <div class="media-body">
                        <span class="name mb-0 text-sm">{{Book.Car.name}}</span>
                      </div>
                    </div>
                  </th>
                  <td class="budget">
                    <i class="fa fa-inr"></i> {{Book.amount}}
                  </td>
                  <td>
                    <span class="badge badge-dot mr-4">
                      
                      <span class="status">{{Book.Passenger.name}}</span>
                    </span>
                  </td>
                  <td>
                    {{Book.Car.date}}
                  </td>
                  
                  <td>
                    <a href="{% url 'my-bookcar' Book.id %}" <button class="btn btn-primary">View</button></a>
                  </td>
                  <td>
                    <a href="{% url 'complate-journy' Book.id %}" <button class="btn btn-primary">Complete Journy</button></a>
                  </td>
                  <td>
                  </td>
                  <td class="text-right">                  
                  </td>
                </tr>
                {% endif %}
                {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
          <!-- Card footer -->
          
        </div>
      </div>
    </div>
    <!-- Dark table -->
    
{% endblock %}